
.icon-contacts:before { content: '\e800'; } /* '' */
.icon-certificate-outline:before { content: '\e801'; } /* '' */
.icon-adult:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */