body
{
      background-color: #191f1d;
      color:white;
}

a:visited
{
  text-decoration: none;
  color: #ffffff;
}
a:link
{
  text-decoration: none;
  color: #ffffff;
}

#logo
{
      font-family: 'Lobster', cursive;
      width:300px;
      margin-left:auto;
	margin-right:auto;
      text-align: center;
      margin-top: 70px;
      font-size: 25px;
}

.Container
{
      /*border: 2px solid #0ac97d;*/
      width:1024px;
      height: 768px;
	     margin-left:auto;
	      margin-right:auto;
}

.SideRight
{
      font-family: 'Amatic SC', cursive;
      margin: 30px 30px 30px 30px;
      /*border: 2px solid #0ac97d;*/
      width: 462px;
      height: 702px;
      float: left;
      font-size: 25px;
      text-align: center;

}

.SideLeft
{
      font-size: 18px;
      font-family: 'Ubuntu', sans-serif;
      border: 2px solid #0ac97d;
      width: 462px;
      margin-left: 30px;
      margin-right: 0;
      margin-top: 30px;
      height: 702px;
      float: left;
      text-align: justify;
}

img
{
      margin-top: 15px;
      margin-left: 25px;
      margin-right: 25px;
      width: 412px;
      height: 280px;
      padding-bottom: 0;
}

.SideLeft > p
{
      margin-left: 25px;
      margin-right: 25px;
      margin-top: 7px;
}

#window1
{
      background-color: #303030;
      border: 2px solid #ffffff;
      width: 182px;
      height: 189px;
      float: left;
      margin: 30px;
}

#window1 > p
{
      margin-top: 10px;
}

#window1:hover
{
      background-color: #ed0e0e;
      border: 2px solid #0ac97d;
      color: #ffffff;
      cursor: pointer;
}

#window2
{
      background-color: #303030;
      border: 2px solid #ffffff;
      width: 182px;
      height: 189px;
      float: left;
      margin: 30px;
      margin-left: 0;
}

#window2 > p
{
      margin-top: 10px;
}

#window2:hover
{
      background-color: #4c10e3;
      border: 2px solid #0ac97d;
      color: #ffffff;
      cursor: pointer;
}

#window3
{
      background-color: #303030;
      border: 2px solid #ffffff;
      width: 182px;
      height: 189px;
      float: left;
      margin-left: 30px;
      margin-right: 30px;
}

#window3 > p
{
      margin-top: 10px;
}

#window3:hover
{
      background-color: #fc8403;
      border: 2px solid #0ac97d;
      color: #ffffff;
      cursor: pointer;
}

#window4
{
      background-color: #303030;
      border: 2px solid #ffffff;
      width: 182px;
      height: 189px;
      float: left;
      margin-right: 30px;
      margin-left: 0;
}

#window4 > p
{
      margin-top: 10px;
}

#window4:hover
{
      background-color: #3bff05;
      border: 2px solid #0ac97d;
      color: #ffffff;
      cursor: pointer;
}

#window5
{
      background-color: #303030;
      border: 2px solid #ffffff;
      width: 182px;
      height: 189px;
      float: left;
      margin: 30px;
      margin-bottom: 32px
}

#window5 > p
{
      margin-top: 10px;
}

#window5:hover
{
      background-color: #3b5998;
      border: 2px solid #0ac97d;
      color: #ffffff;
      cursor: pointer;
}

#window6
{
      background-color: #303030;
      border: 2px solid #ffffff;
      width: 182px;
      height: 189px;
      float: left;
      margin: 30px;
      margin-bottom: 32px;
      margin-left: 0;
}

#window6 > p
{
      margin-top: 10px;
}

#window6:hover
{
      background-color: #0e76a8;
      border: 2px solid #0ac97d;
      color: #ffffff;
      cursor: pointer;
}

a.links:visited
{
      color: #ffffff;
      text-decoration: none;
}

.linkKod
{
  font-family: 'Amatic SC', cursive;
  font-size: 28px;
  margin-top: 85px;
  text-align: center;
}

.linkKod > a:hover
{
  color:#0ac97d;
}

.certyfikat
{
  float: left;
  margin-top: 10px;
  margin-right: 20px;
}

.certyfikat:first-child
{
  margin-left: 20px;
}

.cert
{
	width: 127px;
  height: 100px;
	transition: all 0.2s ease-in-out;
  clear: both;
  padding: 0;
  margin: 0;
}

.cert:hover
{
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

#formularz
{
  margin-top: 170px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
}

textarea
{
  resize: none;
}

input
{
  margin-top: 10px;
}
